body{
  background-color: #f5f5f5;
}
.s-layout {
   display: flex;
   width: 100%;
   min-height: 100vh;
   background-color: #f5f5f5;
}

.s-layout__content {
  padding: 20px 0px;
  width: 100%;
}
.s-sidebar__trigger {
   z-index: 2;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: 20px;
}

.s-sidebar__trigger img {
 width: 130px;
}

.s-sidebar__nav {
   position: fixed;
   top: 0;
   left: -250px;
   overflow: hidden;
   transition: all .3s ease-in;
   width: 250px;
   height: 100%;
   background: #FFFFFF;
  color: #1F2A39;
}

.s-sidebar__nav:hover,
.s-sidebar__nav:focus,
.s-sidebar__trigger:focus + .s-sidebar__nav,
.s-sidebar__trigger:hover + .s-sidebar__nav {
   left: 0;
}

.s-sidebar__nav ul {
  position: absolute;
    top: 92px;
    left: 0;
    margin: 0;
    padding: 0;
    list-style: none;
        display: block;
    width: 100%;
}

.s-sidebar__nav ul li {
   width: 100%;
}

.s-sidebar__nav-link {
      position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    padding: 20px;
    text-decoration: none;
}
.s-sidebar__nav .active{
    background: #D2F4C9;
}

.s-sidebar__nav-link h2 {
  font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: #1F2A39;
    display: block;
    padding-left: 8px;
    margin-bottom: 0px;
}

.s-sidebar__nav-link:hover {
   background: #D2F4C9;
}

.s-sidebar__nav-link img {
  width: 17px;
    display: block;
}

/* sideprofile */
.sideprofile{
    background: #FFFFFF;
    width: 300px;
    min-height: 100vh;
    padding: 60px 15px 20px;
    position: fixed;
    right: 0;
    top: 0px;
}
.sideprofile h2{
    font-weight: 700;
font-size: 20px;
letter-spacing: 0.5px;
color: #1F2A39;
}
.avatardetails{
display: flex;
align-items: center;
justify-content: space-between;
margin-top: 30px;
}
.profileinfo{
display: flex;
align-items: center;
justify-content: space-between;
}
.avaterimg{
margin-right: 10px;
}
.avaterimg img{
width: 40px;
height: 40px;
border-radius: 50%;
}
.metainfo div{
display: flex;
}
.metainfo h3{
font-weight: 500;
font-size: 13px;
line-height: 17px;
letter-spacing: 0.5px;
color: #1F2A39;
margin-bottom: 0px;
}
.metainfo img{
width: 10px;
margin-right: 2px;
}
.metainfo span{
font-weight: 400;
font-size: 10px;
letter-spacing: 0.5px;
color: #C8D4E9;
}
.metainfo h6{
font-weight: 400;
font-size: 11px;
letter-spacing: 0.5px;
color: #58A4A6;
margin-bottom: 0px;
}

.btnprioutline{
    border: 2px solid #304857;
border-radius: 2px;
padding: 5px 15px;
font-weight: 700;
font-size: 12px;
text-align: center;
letter-spacing: 0.5px;
color: #304857;
}
@media(max-width:880px){
    .sideprofile {
    width: 175px;
    padding: 45px 15px 20px;
}
.sideprofile h2 {
    font-size: 15px;
}
  
   .avatardetails {
    flex-wrap: wrap;
    justify-content: center;
}
.profileinfo {
    flex-wrap: wrap;
    justify-content: center;
}
.chatbtn{
    margin: 10px auto;
}
.profiledetails h2{
    font-size: 18px !important;
}
}
@media (min-width: 768px) {
   .s-layout__content {
      margin-left: 250px;
   }
   .s-sidebar__nav {
      left: 0;
   }
}
@media(max-width:768px)
{
    .s-sidebar__trigger {
        background-color: white;
    }
    .s-layout__content{
        padding-top: 90px;
    }
    .sideprofile{
        display: none;
    }
}
.invoicediv{
padding: 20px 20px;
max-width: 600px;
}
.invoicediv h2{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.invoicediv table{
    background-color: #FFFFFF;
}
.invoicediv table td{
    font-size: 14px;
}