/* Primary Styles */
*, *::before, *::after {
   box-sizing: border-box;
}

body {
   background-color: #f5f5f5;
}
a {
   text-decoration: none !important;
   color: inherit;
} 
.s-layout {
   display: flex;
   width: 100%;
   min-height: 100vh;
   background-color: #f5f5f5;
}

.s-layout__content {
  padding: 20px;
  width: 100%;
}
.s-sidebar__trigger {
   z-index: 2;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: 20px;
}

.s-sidebar__trigger img {
 width: 130px;
}

.s-sidebar__nav {
   position: fixed;
   top: 0;
   left: -250px;
   overflow: hidden;
   transition: all .3s ease-in;
   width: 250px;
   height: 100%;
   background: #FFFFFF;
  color: #1F2A39;
}

.s-sidebar__nav:hover,
.s-sidebar__nav:focus,
.s-sidebar__trigger:focus + .s-sidebar__nav,
.s-sidebar__trigger:hover + .s-sidebar__nav {
   left: 0;
}

.s-sidebar__nav ul {
  position: absolute;
    top: 92px;
    left: 0;
    margin: 0;
    padding: 0;
    list-style: none;
        display: block;
    width: 100%;
}

.s-sidebar__nav ul li {
   width: 100%;
}

.s-sidebar__nav-link {
      position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    padding: 20px;
    text-decoration: none;
}
.s-sidebar__nav .active{
    background: #D2F4C9;
}

.s-sidebar__nav-link h2 {
  font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: #1F2A39;
    display: block;
    padding-left: 8px;
    margin-bottom: 0px;
}

.s-sidebar__nav-link:hover {
   background: #D2F4C9;
}

.s-sidebar__nav-link img {
  width: 17px;
    display: block;
}

/* sideprofile */
.sideprofile{
    background: #FFFFFF;
    width: 300px;
    min-height: 100vh;
    padding: 60px 15px 20px;
    position: fixed;
    right: 0;
    top: 0px;
}
.sideprofile h2{
    font-weight: 700;
font-size: 20px;
letter-spacing: 0.5px;
color: #1F2A39;
}
.avatardetails{
display: flex;
align-items: center;
justify-content: space-between;
margin-top: 30px;
}
.profileinfo{
display: flex;
align-items: center;
justify-content: space-between;
}
.avaterimg{
margin-right: 10px;
}
.avaterimg img{
width: 40px;
height: 40px;
border-radius: 50%;
}
.metainfo div{
display: flex;
}
.metainfo h3{
font-weight: 500;
font-size: 13px;
line-height: 17px;
letter-spacing: 0.5px;
color: #1F2A39;
margin-bottom: 0px;
}
.metainfo img{
width: 10px;
margin-right: 2px;
}
.metainfo span{
font-weight: 400;
font-size: 10px;
letter-spacing: 0.5px;
color: #C8D4E9;
}
.metainfo h6{
font-weight: 400;
font-size: 11px;
letter-spacing: 0.5px;
color: #58A4A6;
margin-bottom: 0px;
}

.btnprioutline{
    border: 2px solid #304857;
border-radius: 2px;
padding: 5px 15px;
font-weight: 700;
font-size: 12px;
text-align: center;
letter-spacing: 0.5px;
color: #304857;
}
@media(max-width:880px){
    .sideprofile {
    width: 175px;
    padding: 45px 15px 20px;
}
.sideprofile h2 {
    font-size: 15px;
}
  .s-layout__content {
      margin-right: 175px !important;
   }
   .avatardetails {
    flex-wrap: wrap;
    justify-content: center;
}
.profileinfo {
    flex-wrap: wrap;
    justify-content: center;
}
.chatbtn{
    margin: 10px auto;
}
.profiledetails h2{
    font-size: 18px !important;
}
}
@media (min-width: 768px) {
   .s-layout__content {
      margin-left: 250px;
      margin-right: 350px;
   }
   .s-sidebar__nav {
      left: 0;
   }
}
@media(max-width:768px)
{
    .s-sidebar__trigger {
        background-color: white;
    }
    .s-layout__content{
        padding-top: 90px;
        margin-right: 0px !important;
    }
    .sideprofile{
        display: none;
    }
}

/* register now section */
.registernow{
display: flex;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;
padding: 20px 25px;
background: #FFFFFF;
border: 1px solid #C8D4E8;
border-radius: 2px;
width: 100%;
}
.regcontent h2{
font-weight: 700;
font-size: 24px;
letter-spacing: 0.5px;
color: #1F2A39;
margin-bottom: 2px;
}
.regcontent p{
font-weight: 400;
font-size: 13px;
letter-spacing: 0.5px;
color: #1F2A39;
margin-bottom: 5px;
max-width: 280px;
}
.regcontent{

}
.btnpri{
background: #304857;
border-radius: 2px;
font-weight: 700;
font-size: 13px;
text-align: center;
letter-spacing: 0.5px;
color: #FFFFFF;
padding: 10px 26px;
display: block;
text-decoration: none;
}
.btnpri:hover{
    color: #FFFFFF !important;
}

/* Profile section */
.profilesection{
display: flex;
align-items: center;
margin-top: 20px;
}
.profilepic{
margin-right: 15px;
}
.profilepic img{
width: 120px;
height: 120px;
}
.profiledetails {

}
.profiledetails h2{
font-weight: 500;
font-size: 24px;
letter-spacing: 0.5px;
color: #1F2A39;
margin-bottom: 5px;
}
.form-switch .form-check-input:checked{
    background-color: #58A4A6;
}
.form-switch .form-check-input{
    background-color: #C8D4E8;
    border: transparent;
    background-image: url(../images/Knob.svg) !important;
}
.switchlbl{
font-weight: 400;
font-size: 14px;
letter-spacing: 0.5px;
color: #1F2A39;
}
.form-switch .form-check-input:focus {
        background-image: url(../images/Knob.svg) !important;
}
.form-check-input:focus{
    box-shadow: none !important;
}
.popover__wrapper {
  position: relative;
}
.popover__content {
  opacity: 1;
    visibility: hidden;
    position: absolute;
    left: 161px;
    transform: translate(0, 10px);
    background: #58A4A6;
    border-radius: 2px;
    padding: 6px 11px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%);
    width: 392px;
}
.popover__content:before {
   position: absolute;
    z-index: -1;
    content: "";
    top: 29%;
    left: -28px;
    border-style: solid;
    border-width: 8px 26px 12px 16px;
    border-color: transparent #58a4a6 transparent transparent;
    transition-duration: 0.3s;
    transition-property: transform;
}
.popover__wrapper:hover .popover__content {
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transform: translate(0, -28px);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}
.popover__message {
  font-size: 9px;
color: #FFFFFF;
margin-bottom: 0px;
}
.popover__content img{
    width: 8px;
    
    position: absolute;
    top: 9px;
    right: 8px;

}
@media(max-width:1100px){
    .popover__content{
        width: 298px;
    }
}
@media(max-width:880px){
    .popover__content{
        width: 207px;
    }
}
@media(max-width:768px){
.popover__content {
    left: -38px;
    top: 60px;
}   
.popover__content:before {

  right: calc(50% - 10px);
  top: -8px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #58a4a6 transparent;
  left: unset !important;
}
}
@media(min-width:1350px){
    .popover__message {
    font-size: 12px;
}
.popover__content {
    padding: 8px 15px;
    width: 551px;
}
.popover__content img {
    width: 12px;
    top: 10px;
    right: 10px;
}
}


/* My passes section */
.mypasses{
background: #FFFFFF;
border: 1px solid #C8D4E8;
border-radius: 2px;
padding: 25px;
margin-top: 25px;
}
.mypasses h2{
font-weight: 700;
font-size: 20px;
letter-spacing: 0.5px;
color: #1F2A39;
}
.mypassescontent{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 30px 0 35px;
}
.mypassescontent p{
        font-weight: 400;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #98AECE;
    margin-bottom: 15px;
}

/* My badges section */
.mybadges{
background: #FFFFFF;
border: 1px solid #C8D4E8;
border-radius: 2px;
padding: 25px;
margin-top: 25px;
}
.mybadges h2{
font-weight: 700;
font-size: 20px;
letter-spacing: 0.5px;
color: #1F2A39;
}
.mybadgescontent{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 30px 0 35px;
}
.mybadgescontent p{
        font-weight: 400;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #98AECE;
    margin-bottom: 15px;
}