.signupmain{
display: flex;
}
.signupdata{
width: 50%;
padding: 20px 35px;
}
.logoimg{
    text-decoration: none;
        margin-bottom: 75px;
    display: block;
}
.logoimg img{
width: 258px;
}
form{
    margin-top: 20px;
}
h2{
font-weight: 700 !important;
font-size: 32px !important;
letter-spacing: 0.5px !important;
color: #1F2A39 !important;
}
p{
font-weight: 400 !important;
font-size: 16px !important;
letter-spacing: 0.5px !important;
color: #1F2A39 !important;
max-width: 705px;
}
a{
font-weight: 400;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.5px;
text-decoration-line: underline;
color: #58A4A6 !important;
}
button{
background: #304857;
border-radius: 2px !important;
font-weight: 700;
font-size: 16px !important;
text-align: center;
letter-spacing: 0.5px !important;
color: #FFFFFF;
border: 0px;
padding: 8px 100px;
margin: 30px 0 18px !important;

}
.signupimg
{
width: 50%;
}
.signupimg img{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    max-height: 100%;
}
.form-control:focus{
    box-shadow: 0 0 0 0rem rgb(13 110 253 / 25%) !important;
}
.form-control{
    background: #FFFFFF !important;
border-radius: 1px !important;
padding: 16px !important;
font-weight: 500 !important;
font-size: 14px !important;
letter-spacing: 0.5px !important;
color: #9AA6B9 !important;
max-width: 450px;
}
.form-floating>.form-select{
border-radius: 1px !important;
padding: 6px 16px !important;
font-weight: 500 !important;
font-size: 14px !important;
letter-spacing: 0.5px !important;
color: #9AA6B9 !important;
/* max-width: 450px !important; */
border-radius: 0px !important;
}
.floatselect{
max-width: 450px !important;
}
.form-floating>label{
    font-weight: 500 !important;
font-size: 14px !important;
letter-spacing: 0.5px !important;
color: #9AA6B9;
padding: 16px !important;
}
.form-check-input[type=checkbox] {
    border-radius: 0px !important;
}
.formlabelselect1{
    width: 106%;
    right: 0;
    text-align: end;
    letter-spacing: 0.5px !important;
    color: #20102B !important;
    top: 12px !important;
}
.form-select:focus {
    box-shadow: 0 0 0 0rem rgb(13 110 253 / 0%) !important;
}
/*progressbar*/
#progressbar {
	    margin-bottom: 12px;
    overflow: hidden;
    counter-reset: step;
    padding-left: 0;
margin-left: -30px;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 95px;
	float: left;
	position: relative;
}
/* #progressbar li:first-child::before{
 margin: 0px;   
} */
#progressbar li:before {
	content: counter(step);
	    counter-increment: step;
    width: 30px;
    height: 30px;
    line-height: 20px;
    display: block;
    display: flex;
    font-size: 13px;
    justify-content: center;
    align-items: center;
    color: #1F2A39;
    background: white;
    margin: 0 auto 0px auto;
    border: 1px solid #9AA6B9;
    border-radius: 50px;
    text-align: center;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
    width: 100%;
    height: 2px;
    background: #58a4a687;
    position: absolute;
    left: -50%;
    top: 15px;
    z-index: -1;
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #58A4A6;
	color: white;
}
@media(max-width:1400px)
{
.logoimg{
        margin-bottom: 40px;
}
.logoimg img{
    width: 190px;
}
h2{
    font-size: 26px !important;
}
p{
    font-size: 14px !important;
    max-width: 415px;
}
.form-control {
    padding: 19px 10px 11px 10px !important;
    font-size: 14px !important;
    max-width: 326px;
}
.floatselect{
max-width: 326px !important;
}
.form-floating>label{
    padding: 10px !important;
}
.form-floating>.form-control, .form-floating>.form-control-plaintext, .form-floating>.form-select {
    height: calc(2.5rem + 8px) !important;
}
.form-check-label{
    font-size: 14px !important;
}
a{
    font-size: 14px;
}
button{
    font-size: 14px !important;
}
form .mb-3{
    margin-bottom: 6px !important;
}
form .form-check{
    margin-bottom: 15px !important;
}
#progressbar li{
    width: 65px;
}
#progressbar {
    margin-left: -20px;
}
#progressbar li:before {
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 10px;

}
/*progressbar connectors*/
#progressbar li:after {
    top: 10px;
}
}
@media(max-width:768px){
    .signupmain{
        flex-wrap: wrap;
    }
    .signupdata{
        width: 100%;
    }
    .signupimg{
        display: none;
    }
    p{
        max-width: 100%;
    }
}